@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    font-family: "Roboto";
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

h4 {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

.relative-parent {
    position: relative;
}

.pointer {
    cursor: pointer;
}
